.main {
  position: fixed;
  background-color: coral;
  border-radius: 50%;
}

#main1 {
  width: 40px;
  height: 40px;
}

#main2 {
  width: 30px;
  height: 30px;
}

#main3 {
  width: 20px;
  height: 20px;
}
